.citation_background{
    background-image: url("../../resources/index/citation_background.png");
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;


}



a{

display: flex;
align-items: center;
justify-content: center;
color: white;

}